body[data-question="5"] {
  --question-image-size: 480px;
  --question-image-offset-x: 0px;
  --question-image-offset-y: 0px;
}

body[data-question="5"] .quiz .flipbook {
  background: linear-gradient(90deg, #8c7146 0%, #8c7146 50%, #d8ad56 50.1%, #d8ad56 100%);
}

@media (min-width: 781px) {
  body[data-question="5"] .quiz .question-image.visible {
    width: var(--question-image-size) !important;
    transform: translate(calc(-50% + var(--question-image-offset-x)), calc(-50% + var(--question-image-offset-y))) !important;
  }
}
