body[data-question="7"] {
  --question-image-size: 400px;
  --question-image-offset-x: 0px;
  --question-image-offset-y: 0px;
}

body[data-question="7"] .quiz .flipbook {
  background: linear-gradient(90deg, #514263 0%, #514263 50%, #b99ac3 50.1%, #b99ac3 100%);
}

@media (min-width: 781px) {
  body[data-question="7"] .quiz .question-image.visible {
    width: var(--question-image-size) !important;
    transform: translate(calc(-50% + var(--question-image-offset-x)), calc(-50% + var(--question-image-offset-y))) !important;
  }
}
